/StrategyEstacionamento/target/classes/br/com/ccs/model/tarifas/CalculoPorHora.class
/StrategyEstacionamento/target/surefire-reports/TEST-TesteTarifaEstacionamento.xml
/StrategyEstacionamento/target/surefire-reports/TesteTarifaEstacionamento.txt
/StrategyEstacionamento/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/StrategyEstacionamento/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/StrategyEstacionamento/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
